{:paths ["src"]
 :deps {cheshire/cheshire {:mvn/version "6.2.0"}
        io.github.hive-agi/modex-bb {:git/tag "v0.1.11"
                                     :git/sha "a9350e3cf26353b7a8d039927f7d4cf455c6fa32"}}
 :tasks
 {server {:doc "Start the LSP MCP server (babashka)"
          :task (exec 'lsp-mcp.server/-main)}}}
