{:paths ["src"]
 :deps {cheshire/cheshire {:mvn/version "6.2.0"}
        io.github.hive-agi/modex-bb {:git/tag "v0.1.6"
                                     :git/sha "061533c65115f99356e63480180ab259131555ae"}}
 :tasks
 {server {:doc "Start the LSP MCP server (babashka)"
          :task (exec 'lsp-mcp.server/-main)}}}
